<div class="span7">
<legend><h2>SIGN-UP</h2></legend>
<!-- <h2 class="form-signin-heading">Please sign in</h2> -->
<div class='hero-unit sfg_herounit'>
  <div class='row'>
    <div class='span2'>
      <!--<button class="btn btn-large btn-success sfg_signup" type="button">I OWN A BUSINESS</button>-->
      <%= link_to "I OWN A BUSINESS", new_business_user_path, class: "btn btn-large btn-info sfg_signup" %>
    </div>
    <div class='span2 offset1'>
      <!--<button class="btn btn-large btn-success sfg_signup" type="button">I AM A USER</button>-->
      <%#= link_to "I AM A USER", new_user_path, :class => "btn btn-large btn-info sfg_signup " %>

      <!--<a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a>-->
      <%= link_to "I AM A USER", new_user_path, :class => "btn btn-large btn-info sfg_signup colorbox" %>
    </div>
  </div>
</div>
</div>
<div class="span5">
  <div class="span5 sfg-span">
    <legend class="span4"><h2>SIGN-IN</h2></legend>
    <!--<div class='hero-unit sfg_herounit'>-->
      <!--<div class='row'>-->
    <!--<div class='hero-unit sfg_herounit'>-->
      <!--<div class='row'>-->
        <!--<div class='span1'>-->

    <%= render :partial =>"shared/login" %>

     <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>