<%= javascript_include_tag "jquery.validate"%>

<div class="span7 home_page_fields" >
  <fieldset>
    <legend><font color="#fff">SIGN-UP</font></legend>

    <div class='hero-unit'>
      <div class='row'>
        <div class='span2'>
          <%= link_to "I OWN A BUSINESS", new_business_user_path, class: "btn btn-large btn-info sfg_signup sfg-home-btn" %>
        </div>
        <div class='span2 offset1'>

          <%= link_to "I AM A USER", new_user_path, :class => "btn btn-large btn-info sfg_signup sfg-home-btn", :id => "sfg_color_box" %>
        </div>
      </div>
    </div>
  </fieldset>
</div>

<div class="span5 home_page_fields">
  <fieldset class="sign_in_fieldset">
    <legend><font color="#fff">SIGN-IN</font></legend>
    <div class='sfg_hero_sign_in'>
      <div class='row'>
        <%= render :partial =>"shared/login" %>
      </div>
    </div>
  </fieldset>
</div>

<script type="text/javascript">

    $(document).ready(function() {
        $("#new_person").validate({
            rules: {
                "person[email]": {
                    required:true,
                    email:true
                },
                "person[password]": {
                    required:true,
                    minlength: 6
                }
            }
        });
    });



</script>

