<% provide(:title, 'Home') %>
<% if signed_in? %>

    <div class="row">
      <aside class="span4">
        <section>
           lm;lm;lml;m;lm;lm;m
        </section>
      </aside>
    </div>
<% else %>
    <div class="center hero-unit">
      <h2>Welcome to the Sharing for good</h2>

      <%= link_to "Sign up now for User!", new_user_path, :class => "btn btn-large btn-info" %>

      <%= link_to "Sign up now for Business User!", business_user_sign_up_path,class: "btn btn-large btn-info" %>
    </div>
<% end %>