<table>
  <tr>
    <th>Email</th>
    <th>First Name</th>
    <th>Last Name</th>
  </tr>
  <tr>
    <td><%= @business_user.email%></td>
    <td><%= @business_user.first_name%></td>
    <td><%= @business_user.last_name%></td>
  </tr>
</table>