<%= @business_user.first_name %> ,
<h4>Business detail updated!</h4>
<p> Your business detail has been updated by admin.</p>
<p> <%=link_to "Sign In " , new_person_session_path(:host=> "localhost:3000" ) %></p>