<div class="span7">
  <legend><h2>SIGN-UP WITH FACEBOOK</h2></legend>

  <div class='hero-unit sfg_herounit hero-unit_facebook'>
    <div class='row'>
      <div class='span2'>

        <div class='facebook-btn'>
          <%=  link_to image_tag("facebook.png"), sign_up_facebook_user_path(@user)  %>

        </div>
        <div class='span4 offset4'>
          <div class='skip_btn'>
            <%=link_to "skip",display_cause_user_path(@user), :class => "skip_btn_text"  %>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
</div>
<div class="span5">
  <div class="span5">

  </div>
</div>