<div class="span7">
  <legend><h2>SIGN-UP WITH FACEBOOK</h2></legend>
  <!-- <h2 class="form-signin-heading">Please sign in</h2> -->
  <div class='hero-unit sfg_herounit'>
    <div class='row'>
      <div class='span2'>

        <!--<%#= link_to "sign in with facebook",share_on_Facebook_user_path(@user), class: "btn btn-large btn-info sfg_signup" %>-->
        <!--<a href="share_on_Facebook_user_path(@user)">-->
        <%#= image_tag("../assets/facebook.png") do %>
        <%=  link_to image_tag("facebook.png"), sign_up_facebook_user_path(@user)  %>
      </div>
      <div class='span2 offset1'>
        <div class='btn btn-large btn-info facebook-btn'>
          <div class='skip_btn'>
            <%=link_to "skip",display_cause_user_path(@user), class:"skip_btn"  %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
<div class="span5">
  <div class="span5">
    <!--<legend class="span4"><h2>Skip</h2></legend>-->

    <%#= link_to "skip",display_cause_user_path(@user), class: "btn btn-large btn-info"  %>

  </div>
</div>