<div class="" id="sfg_about_cause_b_sign_up">
  <legend>ABOUT THE CAUSE</legend>
  <div id="sfg_cause_details">
    <ul>
      <li>Name of the cause: <%= @cause.cause_name  %></li>
      <li>Brief of the cause: <%= @cause.description  %></li>
      <li>Website of the cause: <%= @cause.url %> </li>
    </ul>
  </div>
</div>



