<%#= business_company_id %>
<%= form_for @post, :url => business_company_posts_path(@business_company.id), :method => :post do |f| %>

    <%#= render 'users/error_messages', object: f.object %>

    <div class="field">

      <%= f.text_area :content,:class => "sfg_post_form_text_area",:size => "80x5", :placeholder => "Compose new post..." %>
      <%#= f.hidden_field_tag "business_company_id", business_company_id %>

    </div>

    <%= f.submit "Post", :class => "btn btn-primary" %>

<% end %>
<%#= hidden_field_tag 'entry[user_id]', current_user.id  %>