<div id="sfg_footer">
  <div class="sfg_footer_container">
    <p class="muted credit sfg_muted">&copy; WeboniseLab 2013</p>
  </div>

</div>
<!--<footer class="footer">-->
<!--<p class="footer-text">WeboniseLab 2012</p>-->
<!--</footer>-->