<div class="navbar  navbar-fixed-top sfg_header_size">
    <div class="navbar-inner sfg_color">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <%= link_to "SHARING FOR GOOD!", root_path, :class => "sfg_brand_home_link" %>

        </div>
        <ul class="pull-right inline">
            <li><%#= link_to "Home", root_path %></li>

            <% if current_person.present? %>
            <% if current_person.admin? %>
            <li id="fat-menu1" class="dropdown">
                <a href="#" class="dropdown-toggle" data toggle="dropdown">
                    Welcome <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><%= link_to "Manage Cause",show_admin_dashboard_admins_path%></li>
                    <li class="divider"></li>
                    <li><%= link_to "Manage Business", show_admin_dashboard_business_admins_path %></li>
                    <li class="divider"></li>
                    <li><%= link_to "View Donation" %></li>
                    <li class="divider"></li>
                    <li>
                        <%= link_to "Sign out", destroy_person_session_path, :method => :delete %>
                </ul>

            </li>

            <%else %>

            <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data toggle="dropdown">
                    Hello,  <%= current_person.first_name %> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <% if current_person.role == "user" %>
                    <li><%= link_to "Edit Details", edit_user_path(current_person) %> </li>
                    <li class="divider"></li>
                    <li><%= link_to "Edit Causes",edit_user_causes_user_path(current_person)%></li>
                    <li class="divider"></li>
                    <li><%= link_to "Edit Businesses", edit_businesses_of_user_user_path(current_person)%></li>
                    <li class="divider"></li>

                    <li>
                        <%= link_to "Sign out", destroy_person_session_path, :method => :delete %>
                        <% end %>
                        <% if current_person.role == "business_user" %>
                    <li><%= link_to "Edit Details", edit_business_user_path(current_person) %> </li>

                    <li>
                        <%= link_to "Sign out", destroy_person_session_path, :method => :delete %>
                        <% end %>
                </ul>
            </li>

            <% end %>

            <% else %>
            <%#= link_to "Sign in" ,person_session_path, :class => "" %>
            <% end %>

        </ul>
    </div>
</div>


