<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a href="/" class="headerLogo">
                <img src="/assets/b7x.gif" class="img-polaroid" alt="header img problem in loading" width="100" height="50"/>
            </a>
            <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Sharing for good</a>

        </div>
        <ul class="nav pull-right">
            <li><%= link_to "Home", root_path %></li>
            <% if current_person.present? %>
            <li> Hi <%#= @user.first_name %></li>
            <li> <%= link_to "Sign out", destroy_person_session_path, :method => :delete %><li>
            <li> <%= current_person.first_name %><li>
            <% else %>
            <%= link_to "Sign in" ,person_session_path, :class => "btn" %>
            <% end %>
        </ul>
    </div>
</div>